name: prj_1
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  # Các thư viện phải nằm thẳng hàng, lùi vào 2 khoảng trắng so với dependencies
  camera: ^0.11.0
  image_picker: ^1.1.2
  lucide_icons: ^0.257.0 # Nên thêm dấu ^ để tối ưu phiên bản
  cupertino_icons: ^1.0.8
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  # assets phải nằm ở đây, lùi vào 2 khoảng trắng so với flutter
  assets:
    - assets/data/pets_data.json